<html>
  <body>
    
    <h1> Get your fortune</h1>
    <h5>What is your name?</h5>
    
    <form method = "POST">
      <input type = "text" name = "user">
      <input type = "submit" value = "GET YOUR FORTUNE">
    </form>
    
    
  </body>
  
  
  
</html>

